@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    /* Accent */
    --blue: hsl(248, 32%, 49%);
    /* Neutral */
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);

}

main{
    background-image: url("../images/bg-intro-mobile.png");
    min-height: 100vh;
    background-color: var(--red);
}

.hero{
    width: 80%; 
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    min-height: 100vh;
}

.hero__text--header{
    font-weight: 700;
    text-align: center;
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}

.para{
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.hero__form--button{
    background-color: var(--blue);
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid var(--blue);
}

.hero__form--details{
    background-color: white;
    border-radius: 10px;
    padding: 50px 0;
    text-align: center;
}

#fname, #lname, #email, #password {
    border: 0.5px solid var(--grayish-blue);
    margin-bottom: 10px;
    padding: 10px 0;
    border-radius: 5px;
}

::placeholder{
    color: var(--dark-blue);
    padding-left: 10px;
}

.hero__form--details--submit{
    text-transform: uppercase;
    color: white;
    background-color: var(--green);
    padding: 10px 30px;
    border: 1px solid var(--green);
    border-radius: 5px;
    box-shadow: 0 2px 0px var(--dark-blue);
    margin-bottom: 15px;
}

.footer{
    color: var(--grayish-blue);
    width: 80%;
    margin: auto;
}

.red{
    color: var(--red);
}

@media (min-width: 500px){
    .hero{
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }
}